<p>pipes works!</p>
<!-- {{fullName}}
<br>
{{fullName | lowercase}}
<br>
{{fullName | uppercase }}
<br>
{{fullName | titlecase }}
<br>
{{fullName | slice:3}}
<br>
{{fullName | slice:3:5}}
<br>
{{2.678 | number:'1.2-3'}} //2.678
<br>
{{2.678 | number:'3.1-2'}} //002.68
<br>
{{0.6 | currency: 'EUR'}}
<br>
{{todayDate | date:'short'}}
<br>
{{todayDate | date:'shortDate'}}
<br>
{{todayDate | date:'shortime'}}
<br>
{{todayDate | date:'medium'}}
<br>
{{todayDate | date:'mediumDate'}}
<br>
{{todayDate | date:'mediumTime'}} -->
{{4| square}}