<app-header></app-header>
    <app-products></app-products>
<!-- <h1>Welcome to Angular Course</h1> -->
<app-footer></app-footer> 
<!-- <app-interpolation></app-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-ng-if></app-ng-if> -->
<!-- <app-ng-switch></app-ng-switch> -->
<!-- <app-ng-for></app-ng-for> -->
<!-- <app-pipes></app-pipes> -->
